/* Reset básico para remover estilos padrão do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: verdana; /* define o estilo da fonte*/
  background-color: #f0f8ff; /* Cor de fundo em tom de branco azulado */
  color: #333; /* Cor do texto */
}

.header {
  background-color: #e6f2ff; /* Cor de fundo do cabeçalho em tom de azul claro */
  padding: 10px 20px; /* Espaçamento interno do cabeçalho */
  display: flex; /* Usa flexbox para alinhar os itens do cabeçalho */
  align-items: center; /* Alinha verticalmente os itens do cabeçalho */
  justify-content: space-between; /* Distribui o espaço entre os itens do cabeçalho */ 
  height: 100px; /* define a altura do cabeçalho */
}

.logo {
  height: 220px; /* Altura do logo */
  margin-right: 20px; /* Espaço à direita do logo */
}

#dados {
  display: flex; /* Usa flexbox para alinhar os elementos de dados do usuário */
  align-items: center; /* Alinha verticalmente os elementos de dados do usuário */
}

#dados label, #dados span {
  margin-right: 10px; /* Espaço à direita dos elementos de dados do usuário */
}

.edit-profile-btn, .logout-btn {
  text-decoration: none; /* Remove o sublinhado dos links */
  color: #1058d1; /* Cor do texto dos botões em tom de azul */
  padding: 5px 10px; /* Espaçamento interno dos botões */
  margin-left: 10px; /* Espaço à esquerda dos botões */
  border: 1px solid #1058d1; /* Borda dos botões em tom de azul */
  border-radius: 5px; /* Arredonda as bordas dos botões */
  background-color: #fff; /* Cor de fundo dos botões em branco */
}

.edit-profile-btn:hover, .logout-btn:hover {
  background-color: #1058d1; /* Cor de fundo dos botões ao passar o mouse em tom de azul */
  color: #fff; /* Cor do texto dos botões ao passar o mouse em branco */
}

h2 {
  text-align: center; /* Centraliza o título */
  margin: 20px 0; /* Espaçamento acima e abaixo do título */
  color: #1058d1; /* Cor do texto do título em tom de azul */
}

table {
  width: 100%; /* Largura da tabela */
  border-collapse: collapse; /* Remove o espaçamento entre as células */
  margin-bottom: 20px; /* Espaçamento abaixo da tabela */
}

th, td {
  border: 1px solid #ddd; /* Borda das células da tabela */
  padding: 8px; /* Espaçamento interno das células */
  text-align: left; /* Alinhamento do texto das células à esquerda */
}

th {
  background-color: #e6f2ff; /* Cor de fundo do cabeçalho da tabela em tom de azul claro */
}

footer {
  background-color: #e6f2ff; /* Cor de fundo do rodapé em tom de azul claro */
  padding: 10px 20px; /* Espaçamento interno do rodapé */
  text-align: center; /* Centraliza o texto do rodapé */
  margin-top: 20px; /* Espaçamento acima do rodapé */
}
