body {
    font-family: verdana;
    background-color: rgb(229, 245, 250);
    margin: 0;
    padding: 20px;
}
.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    padding: 20px;
    max-width: 600px;
    margin: auto;
}
h2 {
    color: #333;
}
label {
    display: block;
    margin-top: 10px;
}
input[type=email], input[type=text], input[type=password], input[type=tel] {
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}