*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(229, 245, 250);
}

form{
    width: 300px;
    margin: 200px auto;
    text-align: center;
    background-color: rgb(247, 246, 246);
}

label{
    font-size: x-large;
    font-family: Verdana, sans-serif;
    color: white;
    background: linear-gradient(120deg, #3acbf0 0%, #123BCC 100%);
    border-radius: 10px 10px  0 0;
    padding-left: 62px;
    padding-right: 62px;
    margin: 0%;
}

input{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
}

#erro{
    color: red;
    margin-bottom: 10px;
    font-family: Arial, Helvetica,sans-serif;
    display: none;
}

#Success{
    font-size: large;
    color: green;
    margin-bottom: 10px;
    font-family: Arial, Helvetica,sans-serif;
    display: none;
}

button{
    font-size: large;
    width: 250px;
    height: 30px;
    background-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}